@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to @Model.HostName</h1>
    <main>
        @foreach (var ip in Model.IpAddresses)
        {
            <div>@ip.ToString()</div>
        }
    </main>
</div>